#Single-questions-container {
    max-width: 800px;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 40%;

}

.answerCardButtonContainer {
    display: flex;
    justify-content: flex-start;
}
#answerCardButton {
    width:10%;
    margin:1%;
}