#Single-questions-container {
    max-width: 800px;
    gap: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 40%;

}
.all-answer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0;  
    padding-bottom:50.59px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 2rem;
    
}

.answerCardButtonContainer {
    display: flex;
    justify-content: flex-start;
}
#answerCardButton {
    width:10%;
    margin:1%;
}
/* .qCard {
    margin-top:2rem;
} */