.homePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245, 0.1);
    width: 100%;
    /* background-image: url('../../image/goden.png');
    background-size: cover;
    background-position: center; */
}
.homePageHighlights {
    /* padding-bottom: 1%; */
    margin: 0;
    margin-top: 40px;
    width: 950px;
}
.homePageHighlights h1 {
    margin: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}
.homePageCards {
    display: flex;
    justify-content: center;
    max-height: 90%;
    box-sizing: border-box;
    /* border: 1px solid red; */
    justify-content: space-between;
    gap: 25px;
}
.homePageCard {
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    background-color: rgb(255, 255, 255, 0.5);
    width: 300px;
    height: 300px;
    border-radius: 5%;
    box-sizing: border-box;
    padding: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.homePageCard:hover {
    box-shadow: 3px 3px 3px gray;
}
.homePageCard img {
    margin-bottom: 5px;
    max-width: 150px;
}
.homePageMiddleImage {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 950px;
    padding-bottom: 5%;
}

.placeHolderImageHome {
    margin: auto;
    border-radius: 5%;
    aspect-ratio: 3/4;
    margin-bottom: 15px;
    box-sizing: border-box;
    width: 150px;
}
.homePageCard div {
    margin: auto;
}
.homePageCard div a,
h3 {
    max-width: 30%;
    padding-bottom: 5px;
}
.homePageCard p {
    margin-top: 0;
}
.post-card {
    box-sizing: border-box;
    align-self: baseline;
}

.highlight-container .post-card h2 {
    color: #0e67b4;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-bottom: 0;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.highlight-container .post-card a {
    color: #0e67b4;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.highlight-container .post-card p {
    color: #0e67b4;
    text-align: left;
}
.post-card {
    box-sizing: border-box;
    width: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}
h1 #main-title {
    font-weight: 100;
    padding-bottom: 0;
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
