#sorting-tabs-container {
    text-align: right;
    display: flex;
    justify-content: flex-end;
    color: #0e67b4;
    font-size: 14px;
}
.sort-tab {
    cursor: pointer;
}

.sort-tab.active {
    text-decoration: underline;
}
