.footer {
    background-color: #f74726;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    padding-left: 15%;
    padding-right: 15%;
    box-sizing: border-box;
    font-size: 12px;
}
.footer-img-container {
    height: 150px;
    overflow: hidden;
}
.footer img {
    height: 150px;
}
