.AllUsersPage{
    max-width: 800px;
    gap: 1rem;
    margin-bottom: 2rem;
    margin:auto;
    margin-top:0px;

}
#all-users-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.5rem 0;  
    /* margin-top:1rem; */
    padding-bottom:50.59px;
    /* border-bottom: 1px solid var(--border-color); */
    /* margin-bottom: 2rem; */
    
}
.all-users-header h1 {
   padding-left:1rem;

}
#all-users-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
#filter-row-user{
    margin-bottom:2rem;
}
#user-list {
    width:80%;
    margin:auto;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}
.userCard {
    width: 20%;
    margin: 2%;
    background-color: #ffffff;
}
.userCard:hover  {
    box-shadow: 3px 3px 3px gray;

}

.userCard h4 {
    width:fit-content;
    margin:auto;
    padding-bottom: 5%;
}
.userCircle {
    width: 50px;
    height:50px;
    border: solid var(--secondary-color) 2px;
    border-radius: 50%;
    padding: 2%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: var(--primary-color);
    display:flex;
    justify-content: center;
    align-items:center;
}
.userCircle i {
    color:var(--secondary-color)
}
