.profile-dropdown {
  position: absolute;
  background-color:white ;
  box-shadow: 2px 2px 5px gray;
  height:200px;
  width:100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-dropdown button{
  position: relative;
  right:20px;
  margin-top:5%;

}
.profile-dropdown li{
  overflow: hidden;
  width: 100%;
  position: relative;
  right: 50%;
  margin: auto;

}
.navLogo {
  width:8%;
}

.hidden {
  display: none;
}

.nav {
  position: sticky;
  top:0;
  display:flex;
  justify-content: space-around;
  background-color:#F79B26 ;
}
.navDrop{
  /* position: relative;
  top: 2.9rem; */
  margin-top: 2.7%;
  text-decoration: none;
  list-style: none;
  display: flex;

}
.navDrop li {
  padding-left: 50%;
}