/* .modal-content {
    width: 30%;
    height: 60%;
    border-radius: 5%;
    position: absolute;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}
.modalLogin h1 {
    margin-bottom: 0;
    color: #0e67b4;
}
.modalLogin form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3%;
}
.modalLogin form div button {
    width: 40%;
    border-radius: 5%;
}
.modalLogin form div input {
    width: 80%;
}

.login-form {
    width: 90%;
    margin: auto;
    padding: 15px 30px;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
}
.login-form ul {
    box-sizing: border-box;
    margin: 0 auto 10px auto;
    padding: 10px 15px;
    width: 90%;
    list-style: none;
    background-color: rgba(252, 252, 252, 0.2);
    font-size: 12px;
    font-weight: 300;
    text-align: left;
}
.login-form ul li {
    color: red;
} */
/* alphabet order */
.modal-content {
    align-items: center;
    background-color: white;
    border-radius: 5%;
    box-sizing: border-box;
    display: flex;
    height: 60%;
    justify-content: center;
    position: absolute;
    width: 30%;
}

.modalLogin {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 5%;
    width: 100%;
}

.modalLogin h1 {
    color: #0e67b4;
    margin-bottom: 0;
}

.modalLogin form div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 3%;
}

.modalLogin form div button {
    border-radius: 5%;
    width: 40%;
}

.modalLogin form div input {
    width: 80%;
}

.login-form {
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    padding: 15px 30px;
    width: 90%;
}

.login-form ul {
    background-color: rgba(252, 252, 252, 0.2);
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    margin: 0 auto 10px auto;
    padding: 10px 15px;
    text-align: left;
    width: 90%;
}

.login-form ul li {
    color: red;
}
