
.teamHome {
    width:80%;
}
.TeamCardContainer {
    display:flex;
    flex-direction: row;
    align-items:center ;
    padding-left:5%;
    width:90%;
    background-color:#ffffff;
    border-radius: 5%;
    margin-top:10%;
    
}
.TeamCardContainer:hover {
    box-shadow: 3px 3px 3px gray;
}
.TeamCardContainer img {
    border-radius: 50%;
}
.TeamCardDetails{
    width:80%;
}
.socials {
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style: none;
}
.TeamCardDetails h2{
    width:80%;
    width:fit-content;
    /* margin:auto; */
    margin-top:5%;
}
.TeamCardDetails p{
    width:80%;
    width:fit-content;
    margin:auto;
    margin-top:2%;
}
.TeamCardDetails li a {
    color:var(--tertiary-color)
}